@media screen and (min-width: 1201px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 0px 500px; 
	}
	
}
@media screen and (min-width: 1101px) and (max-width: 1200px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 167px 500px; 
	}
	
}
@media screen and (min-width: 1001px) and (max-width: 1100px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 0px -130px; 
	}
	
}
@media screen and (min-width: 901px) and (max-width: 1000px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 167px -130px; 
	}
	
}
@media screen and (min-width: 801px) and (max-width: 900px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 0px -250px; 
	}
	
}
@media screen and (min-width: 701px) and (max-width: 800px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 167px -250px; 
	}
	
}
@media screen and (min-width: 601px) and (max-width: 700px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 0px -375px; 
	}
	
}
@media screen and (max-width: 600px) 
{
	.homer 
	{
	  	background-image: url("homer.jpg");
	  	width: 167px;
	  	height: 120px;
	  	background-position: 167px -375px; 
	}
	
}